/* Button classes */
button {
    padding: 10px;
    cursor: pointer;
}

.buttonRow {
    margin-bottom: 10px
}

.success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.inactive {
    display: none;
}

.insideLabel {
    margin-left: -1.7em;
    text-align: right;
    overflow: visible;
    color: rgb(80, 80, 80);
}

.linkButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid buttonborder;
    background-color: buttonface;
    display: inline-block;
    text-decoration: none;
    color: buttontext;
}

.linkCircleButton {
    border-radius: 50%;
    padding: 0;
    font-size: 1em;
    height: 2em;
    width: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
* Map Styles 
*/
.leaflet-control-attribution {
    font-size: xx-small;
}

.mapButton {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}

#controls {
    position: relative;
}

.mapControlsContainer {
    position: absolute;
    z-index: 1001;
    width: 3em;
}

#mapControlsRight {
    right: 0.5em;
    bottom: 3em;
}

#mapControlsLeft {
    left: 0.5em;
    bottom: 3em;
}

#mapControlsUpperRight {
    top: 2em;
    right: 2em;
}

.mapInfoBox {
    border-radius: 15px;
    width: 6em;
    height: 4em;
    background-color: white;
    border: gray 1px solid;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
}

#mapid {
    margin-bottom: 10px;
    height: 80vh;
    width: 100%;
    /* disable selection/Copy of UIWebView */
    -webkit-user-select: none;
    /* disable the IOS popup when long-press on a link */
    -webkit-touch-callout: none;
}

.leaflet-interactive {
    /* disable selection/Copy of UIWebView */
    -webkit-user-select: none;
    /* disable the IOS popup when long-press on a link */
    -webkit-touch-callout: none;
}

.active-marker {
    background-color: #dc3545;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px red);
}

/* 
* Structural components
*/
#errorContainer {
    margin-top: 2em;
    width: 100%;
    position: fixed;
    z-index: 1001;
}

#error {
    border-radius: 15px;
    padding: 0.5em;
    text-align: center;
    width: 80%;
    top: 2em;
    margin: 0 auto;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bodyContainer {
    margin: 8px;
}

/*
* Generic Table styling
*/
table thead {
    background-color: #f2f2f2;
}

table thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

table tbody tr {
    background-color: #fff;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color for better readability */
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Alternate row background color for better readability */
table tbody tr:last-child {
    font-weight: 700;
}

/* Add some hover effect to the rows */
table tbody tr:hover {
    background-color: #e5e5e5;
}

/*
* Generic elements
*/
pre code {
    display: block;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: 1em;
    border-radius: .2rem;
    color: #c25;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
}

.listCell {
    display: flex;
    height: 4em;
    border: solid 1px grey;
    vertical-align: middle;
    align-items: center;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 10px;
}

.listCellClickable:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.listCellControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

/* 
* Tracker.js styles
*/

#distanceToPin {
    font-size: 1.5em;
    font-weight: 900;
}

#strokeAdd path {
    fill: white;
}

#locationData {
    white-space: pre;
}

#holeStats {
    display: inline-block;
}

#clubStrokeCreateContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #fff;
    z-index: 10000;
}

#clubStrokeCreateContainer button {
    margin: 15px;
    width: 75px;
    height: 75px;
    font-weight: bold;
    font-size: 18pt;
}

#clubStrokeCreateContainerCloseContainer {
    width: 100%;
    margin: 15px auto 0px auto;
}

#clubStrokeCreateContainerCloseContainer button {
    width: 70%;
    padding: 3px;
    height: 30px;
    font-size: 16px;
}

#strokeStats {
    padding-left: 1em;
}

#strokeStats .strokeStatContainer {
    /* moved to .listCell */
}

.strokeControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

.strokeControls button {
    border: solid 1px grey;
    border-radius: 50%;
    color: black;
    font-size: 1em;
    height: 2em;
    margin-left: 0.5em;
    padding: 0;
    position: relative;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dispersionInput {
    width: 5em;
}

/*
* Scorecard styles 
*/
.scorecard {
    text-align: center;
}

.scorecard td.albatross {
    color: red;
}

.scorecard td.eagle {
    color: red;
}

.scorecard td.birdie {
    color: red;
}

.scorecard td.par {
    color: green;
}

.scorecard td.bogey {
    background-color: lightcoral;
}

.scorecard td.double_bogey {
    background-color: coral;
}

/* 
* Stats.js styles 
*/

body.stats table {
    margin-bottom: 15px;
}

td.negative {
    color: red;
}

/*
* new.js styles
*/

#roundInfo {
    display: auto;
}

input.buttonInput {
    font-size: 16px;
    padding: 8px;
}